@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


/* -------------------------------------------------------------Heading */

.logo {
    background: url("../images/haribo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    transition: all .5s;
    display: block;
}

.heading {
    background-color: #8fbc8f;
    width: 100%;
 
}


.bg-color-name {
    font-family: "Raleway", sans-serif;
    color: #2f4f4f;
    text-align: left;
    font-weight: 100;
    width: 100%;
    
}

.name {
    font-size: 50px;
    padding-left: 10px;
}

/* -------------------------------------------------------------nav bar */


.text-center {
    width: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-link {
    font-size: 30px;
    color: #2f4f4f;
    padding: 40px;
}

.nav-link span {
    padding: 130px;
    text-align: center;
    width: 100%;
}

.ui-menu-color-home {
    background-color: #ADD8E6;
}

.ui-menu-color-about {
    background-color: #DCDCDC;
}

.ui-menu-color-comments {
    background-color: #B0C4DE;
}

/* -------------------------------------------------------------Section */


 

/* -------------------------------------------------------------Section General.html */

/* -------------------------------------------------------------Footer */

footer {
    background-color: #8fbc8f;
    padding-bottom: 20px;
    width: 100%;
    
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding-top: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #696969;
    background: #f0f8ff;
    background-position: center;
    transition: all 0.35s ease-in-out;
}

.general-sub {
    padding-top: 10px;
}

